*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#home {
  display: flex;
  align-items: center;
  font-size: 12px;
    font-family: sans-serif;
}

#home p {
  margin-left: 1em;
  font-size: 50px;
}
.kel{
  background-color: beige;
  height: 100px;
   background-color: rgb(195, 255, 255);

}
#services {
  display: flex;
  align-items: center;
  font-size: 12px;
    font-family: sans-serif;
}

#services h1 {
  margin-left: 1em;
  font-size: 50px;
}
.Website {
  display: flex;
  align-items: center;
  font-size: 12px;
    font-family: sans-serif;
}

.Website h1 {
  margin-left: 1em;
  font-size: 50px;
}
.digital {
  display: flex;
  align-items: center;
  font-size: 12px;
    font-family: sans-serif;
}

.digital h1 {
  margin-left: 1em;
  font-size: 50px;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(195, 255, 255);
}
.home{
  align-items: center;
  text-align: center;
  justify-content: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(255, 209, 224);

}
.links{
  display: flex;
  justify-content: space-around;
  width: 30%;

}
.links li {
  list-style: none;
}
.links a {
  color: azure;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 16px;
}
.links li a.active{
  background-color: rgb(196, 86, 163);
}
.links li a:hover:not(.active){
  background-color: aquamarine;
}
